.grid {
    background: blueviolet;
    display: flex;
    flex-direction: column;
    height: 500px;
    max-height: 500px;
    max-width: 500px;
    padding: 0;
    width: 500px;
}

.row {
    background: black;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    padding: 0;
    width: 100%;
}

.cell{
    align-items: center;
    background: white;
    box-sizing: content-box;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    padding: 0.5rem;
    text-align: center;
} 

.announcer {
    display: inline;
}

.variable {
    display: inline;
}

.choose.on {
    color: black;
}

.choose.on.X {
    color: blue;
}

.choose.on.O {
    color: gray;
}

.X {
    color: blue;
}

.O {
    color: gray;
}


.choose {
    align-content: center;
    border: 0;
    box-sizing: border-box;
    color: white;
    flex-grow: 1;
    font-family: 'Courier New', Courier, monospace;
    font-size: 7rem;
    justify-content: center;
    line-height: 100%;
    margin: 0;
    padding-top: 1.5rem;
    padding: 0;
    text-align: center;
}

.won {
    background: peru;
}